<main class="page-content">
    <div class="container-fluid ">   

         <!--from-back-->
       <a (click)="moveLeft()" *ngIf="showLeftArrow">
        <div class="navigation-nav nav-left">
          <i class="fa fa-chevron-left"></i>
        
        </div>
      </a>
      <a (click)="moveRight()" *ngIf="showRightArrow">
        <div class="navigation-nav nav-right">
          <i class="fa fa-chevron-right"></i>
        </div>
      </a>
          <!--from-back-->   
          
        <app-header [courseNumber]='4'></app-header>
        <!-- <app-nav [moduleNumber]="4" [pageLeft]="pageLeft" [pageRight]="pageRight"
        [pageArray]="pageArray" (selectedPage)="clickNextPage($event)"></app-nav> -->
        <div class="px-5 pt-5 m-h-100">
            <!--mod-->
           <div *ngIf="mod">
            <h3 class="text-blue"><strong>Stage 0 - Landing Zone</strong></h3>            
            <div class="text-center "><img src="assets/tikk/Tik_ModuleIntro-04.jpg"  class="img-fluid w-75"></div>
          </div>
          <!--mod-->
         <!--mod1-->
        
        <!--mod1-->


        <!--mod2-->
        <div *ngIf="mod1">
          
            <div class="row">
                <div class="col-12 col-md-12 module-block">
                   <h3 class="text-blue pb-4"><strong>What is a Landing zone?</strong></h3>
<p>Landing Zones allow you to standardize cloud environments for DevOps teams. They offer consistency across naming, scaling and access control along with a security baseline those accidental (or) non-compliant or unauthorized configurations. A Landing Zone should constantly evolve with core components of infrastructure and be well planned and maneuvered.

</p>                  
                   <h4>Consideration for Basic landing zone:</h4>
                   <div class="text-center py-4"><img src="assets/stage0/1/1.png" class="img-fluid pointer" (click)="openImage('assets/stage0/1/1.png')"></div>

                    
                 

               </div>
            </div>
     </div>
     <!--mod2-->

     <!--mod3-->
     <div *ngIf="mod2">
        <div class="row">
            <div class="col-12 col-md-12 module-block">
               <h3 class="text-blue pb-4"><strong>Principles and Guidelines to follow </strong></h3>
               
                <p>The Cloud Adoption Framework enterprise-scale landing zone architecture represents the strategic design path and target technical state for an organization's Azure environment. It varies for organizations and are core recommendations and expected to be followed with variation based on the scenario.  </p>
               
               <h4 class="pt-4">Landing Zone Architecture for Enterprise Scale</h4>
               <div class="text-center py-4"><img src="assets/stage0/2/1.png" class="img-fluid pointer" (click)="openImage('assets/stage0/2/1.png')"></div>

               
               <h4 class="pt-4">Cloud Adoption Framework – Design Principle:</h4>
               <p>The design principles serve as a compass for subsequent design decisions across critical technical domains. </p>
               <div class="bg-light p-4 points">
                   <h6><strong>Subscription democratization</strong></h6>
                   <p>Subscriptions should be used as a unit of management and should be provided to business units to support the design, development, and testing of new workloads and migration of workloads.</p>
                   <h6><strong>Policy-driven governance</strong></h6>
                   <p>Azure Policy ensures continuous compliance and provides application owners with sufficient freedom and a secure unhindered path to the cloud.</p>
                   <h6><strong>Single control and management plane</strong></h6>
                   <p>Azure provides a unified and consistent control plane across all Azure resources and provisioning channels subject to role-based access and policy-driven controls. </p>
                   <h6><strong>Application-centric and archetype-neutral</strong></h6>
                   <p>Enterprise-scale architecture should focus on application-centric migrations and development rather than pure infrastructure lift-and-shift migrations.</p>
                   <h6><strong>Align Azure-native design and roadmaps</strong></h6>
                   <p>The enterprise-scale architecture approach advocates using Azure-native platform services and capabilities whenever possible.</p>

               </div>

           </div>
        </div>
 </div>
 <!--mod3-->



 <!--mod4-->
 <div *ngIf="mod3">
    <div class="row">
        <div class="col-12 col-md-12 module-block">
           <h3 class="text-blue pb-4"><strong>Creating your Landing Zone</strong></h3>
           <p><button class="btn btn-link" (click)="createToken(content)">Click to create PAT Token</button></p>
           <p>Go to <a href="https://portal.azure.com" class="a" target="_blank">Https://portal.azure.com</a> and click on cloud shell icon.</p>
           <div class="text-center py-4"><img src="assets/stage0/3/1.jpg" class="img-fluid pointer" (click)="openImage('assets/stage0/3/1.jpg')"></div>
            
            <p>If you are creating the storage for the 1st time, then the below screen will appear. To create storage, please click on create storage button.</p>
            <div class="text-center py-4"><img src="assets/stage0/3/2.JPG" class="img-fluid pointer" (click)="openImage('assets/stage0/3/2.JPG')"></div>

            <p>Select Bash from dropdown and wait for the screen to be loaded:</p>
            <div class="text-center py-4"><img src="assets/stage0/3/3.jpg" class="img-fluid pointer" (click)="openImage('assets/stage0/3/3.jpg')"></div>
            <h6 class="pt-4" ><strong> Step 1</strong> </h6>

            <p>Enter the below commands <strong>one by one</strong> in Cloud Shell. Use your copied <strong>organization</strong> and <strong>PAT Token</strong> (refer section - How to setup an Environment? For details on organization). </p>
            <div class="code" (click)="copyText(code1)"><code #code1> 
                export AZURE_DEVOPS_EXT_PAT=&lt;&lt;PAT Token&gt;&gt;</code> 
                <div *ngIf="copied" class="code-copied" >Copied  <i class="fas fa-check text-success"></i></div>
                <button class="btn btn-lg  code-copy"  *ngIf="!copied">
                  <i class="fas fa-copy text-light"></i>
             </button> </div>
             <div class="code" (click)="copyText(code12)"><code #code12>
              export myorganization=&lt;&lt;YOUR ORGANIZATION&gt;&gt;</code> 
              <div *ngIf="copied" class="code-copied" >Copied  <i class="fas fa-check text-success"></i></div>
              <button class="btn btn-lg  code-copy"  *ngIf="!copied">
                <i class="fas fa-copy text-light"></i>
              </button> </div>
              <div class="code" (click)="copyText(code13)"><code #code13>
                az extension add --name azure-devops</code> 
                <div *ngIf="copied" class="code-copied" >Copied  <i class="fas fa-check text-success"></i></div>
                <button class="btn btn-lg  code-copy"  *ngIf="!copied">
                  <i class="fas fa-copy text-light"></i>
            </button> </div>

            
            <div class="text-center py-4"><img src="assets/stage0/3/0.04-Step-1.JPG" class="img-fluid pointer" (click)="openImage('assets/stage0/3/0.04-Step-1.JPG')"></div>

            <p>Either it will <strong>Install Extension</strong> or it wll display that <strong>Extension is already Installed</strong>.  
            </p>
            <h6 class="pt-4" ><strong> Step 2</strong> </h6>
            <p>Enter the below command - click enter</p>
            <div class="code" (click)="copyText(code2)"><code #code2>az devops login</code> 
                <div *ngIf="copied" class="code-copied" >Copied  <i class="fas fa-check text-success"></i></div>
                <button class="btn btn-lg  code-copy"  *ngIf="!copied">
                  <i class="fas fa-copy text-light"></i>
             </button> </div>
             <p><strong>Right click and paste your YOUR_PAT_TOKEN</strong>.  
              -> you should get below warning &lt;Don’t worry it is just a warning only – you have logged in now
              &gt;</p>
           
        <div class="text-center py-4"><img src="assets/stage0/3/0.05-Step2.JPG" class="img-fluid pointer" (click)="openImage('assets/stage0/3/0.05-Step2.JPG')"></div>



            <h6 class="pt-4" ><strong> Step 3</strong> </h6>
            <div class="pb-4">Create a Basic Foundation Stack using below command. It excutes orchestrated <strong> azure cli</strong> commands and <strong>ARM Templates</strong> to create the Basic Infrastructure. This execution takes around <strong>7  to 10 Minutes</strong>
                
            </div>

            <div class="code" (click)="copyText(code3)"><code #code3>git clone https://MYAzureWorkshopArtifacts@dev.azure.com/MYAzureWorkshopArtifacts/AZURE_WORKSHOP_PROJECT/_git/azure-cli && cd azure-cli && npm install && npm run initiate_landingzone</code> 
                <div *ngIf="copied" class="code-copied" >Copied  <i class="fas fa-check text-success"></i></div>
                <button class="btn btn-lg  code-copy"  *ngIf="!copied">
                  <i class="fas fa-copy text-light"></i>
             </button> </div>          
            <div class="text-center py-4"><img src="assets/stage0/3/0.06-Step3.JPG" class="img-fluid pointer" (click)="openImage('assets/stage0/3/0.06-Step3.JPG')"></div>



       </div>
    </div>
</div>
<!--mod4-->

    </div>
    </div>
</main>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add PAT TOKEN</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="tokenForm" (ngSubmit)="onSubmitToken()">
      <div class="form-group">
        <label for="dateOfBirth">Enter organization</label>
        <div class="input-group">
          <input  class="form-control" type="text" formControlName="patToken">
          <!-- <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div> -->
        </div>
      </div>
      <button type="submit" class="btn btn-outline-dark" >Save</button>
    </form>
  </div>
 
</ng-template>