.overlay{
    z-index: 9;
}
.progress-bar{ margin-top: 8px; width: 112px; background: #ccc;   display: block; height: 10px;}
.progress-bar-hover {  background-color: royalblue; display: block; height: 10px;}


.level{
    width: 100%; 
    box-shadow: 0 0 5px 0 rgba(0, 0,0,0.7);  
    position: fixed;
    top: 0;
    z-index: 99;
    transition: .8s all ease;
}

.header{ width: calc(100% - 350px); position: fixed; height: 200px; z-index: 99; }
.tog-header{width: 100%;}