<main class="page-content">
    <div class="container-fluid ">    
      <!--from-back-->
      <a (click)="moveLeft()" *ngIf="showLeftArrow">
       <div class="navigation-nav nav-left">
         <i class="fa fa-chevron-left"></i>
       
       </div>
     </a>
     <a (click)="moveRight()" *ngIf="showRightArrow">
       <div class="navigation-nav nav-right">
         <i class="fa fa-chevron-right"></i>
       </div>
     </a>
         <!--from-back-->      
        <app-header [courseNumber]='6'></app-header>
        <div class="px-5 pt-3">
           <!--mod-->
           <div *ngIf="mod">
            <h3 class="text-blue text-center"><strong>Stage 2 - Post Build QA</strong></h3>   
            <div class="text-center "><img src="assets/tikk/Tik_ModuleIntro_6.jpg"  class="img-fluid w-75"></div>
      
          </div>
          <!--mod-->
         <!--mod1-->
         <div *ngIf="mod1">
            <div class="row">
                <div class="col-12 col-md-12 module-block">
                   <h3 class="text-blue pb-4"><strong>Stage Objectives </strong></h3>
                   <p> Check build readiness for testing and prepare the environment for subsequent test executions. </p>

                   <p>Commonly known as build smoke / sanity testing, verification testing, confidence testing (or) build acceptance testing, it has Developers and Testers focus on a set of tests adequate to ensure critical functionalities work as required in the build, confirming its stability and assurance to authorize if the QA team can proceed with further testing.   

                       <p>In this stage, you will explore the Post Build Quality Assurance stage of the overall testing pipeline for DevOps.</p>

                       <div class="text-center py-4"><img src="assets/stage2/1/2Module_Build&DeployAssurance.png" (click)="openImage('assets/stage2/1/2Module_Build&DeployAssurance.png')" class="img-fluid pointer"></div>


               </div>
            </div>
       </div>
        <!--mod1-->


        <!--mod2-->
        <div *ngIf="mod2">
            <div class="row">
                <div class="col-12 col-md-12 module-block">
                   <h3 class="text-blue pb-4"><strong>Pipeline Overview</strong></h3>
                  
                   <h4>Post-Build Quality Assurance flow:</h4>
                   <div class="text-center py-4"><img src="assets/stage2/2/AzureDiagram_ExpLab-03.jpg" (click)="openImage('assets/stage2/2/AzureDiagram_ExpLab-03.jpg')" class="img-fluid pointer"></div>

    <p>This stage consists of two stages viz. <strong>Code Deployment and Smoke / Sanity Testing</strong>.</p>                    
                 <div class="points px-5 py-4 bg-light">
                     <h6>Deployment of Application</h6>
                     <p>Leverage Azure Kubernetes Service (AKS) for deploying back-end and front-end container components of the application under test. This is achieved by pulling the Build Images from Azure Container Registry (ACR) and deploying it in AKS.</p>
                    <h6>Smoke Testing</h6>
                    <p>Balanced mix with minimal sub-set, but major features of API and UI based test automation in the form of Smoke / Build Verification Test is implemented using open source tools like Selenium and RestAssured with BDD Cucumber Framework. The automated test scripts is executed using Azure Pipeline and Reports published in Blob Storage.</p>
                    </div>

               </div>
            </div>
     </div>
     <!--mod2-->

     <!--mod3-->
     <div *ngIf="mod3">
        <div class="row">
            <div class="col-12 col-md-12 module-block">
               <h3 class="text-blue pb-4"><strong>Pipeline Creation & Execution</strong></h3>
               <p><strong>1.</strong> To deploy the post-build pipeline, run the following commands in Azure CLI terminal:
                </p>          
              
                <div class="code" (click)="copyText(code1)"><code #code1>cd && cd azure-cli && npm run postbuild</code> 
                  <div *ngIf="copied" class="code-copied" >Copied  <i class="fas fa-check text-success"></i></div>
                  <button class="btn btn-lg  code-copy"  *ngIf="!copied">
                    <i class="fas fa-copy text-light"></i>
               </button> </div>
                <p class="pt-3">The above command will take approximately 2 minutes to complete.</p>
                <div class="text-center pt-2 pb-3"><img src="assets/stage2/3/execution.jpg" (click)="openImage('assets/stage2/3/execution.jpg')" class="img-fluid pointer"></div>
                <p>At this point, you will observe an automatically triggered and fully functioning Post-Build QA Pipeline, similar to one as shown in the below Exhibit:</p>
                <div class="text-center py-4"><img src="assets/stage2/3/startingpipeline.jpg" (click)="openImage('assets/stage2/3/startingpipeline.jpg')" class="img-fluid pointer"></div>
               
                <p><strong>2.</strong> Click on the pipeline that begins with the name POSTBUILD-QA, you should see the screen as shown in the below Exhibit:</p>
                <div class="text-center py-4"><img src="assets/stage2/3/startingpipelinelist.jpg" (click)="openImage('assets/stage2/3/startingpipelinelist.jpg')" class="img-fluid pointer"></div>
                
                <p><strong>3.</strong>	On clicking the first row of the pipeline, you should see similar Exhibit as below with Stages and Jobs, and it should reflect GREEN in all the Stages, if everything went well.  </p>
                <div class="text-center py-4"><img src="assets/stage2/3/stages.jpg" (click)="openImage('assets/stage2/3/stages.jpg')" class="img-fluid pointer"></div>
                
                <p><strong>4.</strong> successful execution of the pipeline, you should have a working instance of your Application in the test environment. To access the application, navigate to <strong>Overview -> Dashboard -> AZURE_WORKSHOP_PROJECT Team - EXPERIENCE_LAB_OVERVIEW</strong> you can see a section with the name <strong>Deployment in Post Build</strong> displayed, similar to the one in the below Exhibit: </p>
                <div class="text-center py-4"><img src="assets/stage2/3/dashboard.jpg" (click)="openImage('assets/stage2/3/dashboard.jpg')" class="img-fluid pointer"></div>
                  <p><strong>5. </strong> Click on <strong> DIGITAL SHOPIFY </strong> link. You now can see the application deployed as shown in the Exhibit:</p>
                <div class="text-center py-4"><img src="assets/stage2/3/deployedapp.jpeg" (click)="openImage('assets/stage2/3/deployedapp.jpeg')" class="img-fluid"></div>
                                
           </div>
        </div>
 </div>
 <!--mod3-->





<!--mod4-->
<div *ngIf="mod4">
    <div class="row">
        <div class="col-12 col-md-12 module-block">
           <h3 class="text-blue pb-4"><strong>Test Report Analysis</strong></h3>
           <!-- <p>You will also be able to see the test summary of the recently executed Pipeline Stage for Smoke Testing. </p> -->
           <p>1. To access the Smoke Test Report, navigate to <strong>Overview -> Dashboard -> AZURE_WORKSHOP_PROJECT Team - EXPERIENCE_LAB_OVERVIEW</strong> you can see <strong>Reports</strong> section similar to below Exhibit:</p>
           <div class="text-center py-4"><img src="assets/stage2/4/dashboard.jpg" (click)="openImage('assets/stage2/4/dashboard.jpg')" class="img-fluid pointer"></div>
           <p>2. Click  on the link <strong>Smoke Test</strong> available Under Reports section under PostBuild, You can view Extent report similar to below Exhibit:</p>
           <div class="text-center py-4"><img src="assets/stage2/4/smoketestreport.jpeg" (click)="openImage('assets/stage2/4/smoketestreport.jpeg')" class="img-fluid pointer"></div>
           
       </div>
    </div>

    <h4>Reference Links</h4>
            <p>Additionally, Practitioners can access Cognizant Thought Leadership on Customer Experience, by referring the blog by our Market Expert titled - “From ‘Ensuring Customer Experience’ to ‘Assuring Trust’: Rethinking the Role of QA”. You will find the link to the whitepaper in the Register with Cognizant page - <a href="https://www.cognizant.com/application-modernization" class="a" target="_blank">https://www.cognizant.com/application-modernization</a>.</p>

            <h4>Tool Alternate options</h4>

            <div class="table-responsive">
                <table class="table table-borderless table-light">
                    <thead>
                      <tr class="bg-blue1">
                        <th  class="text-left bg-blue2 text-center" scope="col">Stages </th>
                        <th colspan="5" class="text-center" scope="col">PRE-BUILD QA </th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" class="bg-blue1 text-center">Category</th>
                        <td>UI AUTOMATION TOOL  </td>
                        <td>API AUTOMATION TOOL  </td>
                        <td>Automation framework </td>
                        <td>Reporting  </td>
                        <td>BUILD TOOL </td>
                        
                      </tr>
                      <tr>
                        <th scope="row" class="bg-blue3 text-center">Current Tooling </th>
                        <td class="bg-ash">Selenium   </td>
                        <td class="bg-ash">Rest Assured </td>
                        <td class="bg-ash">Cucumber  </td>
                        <td class="bg-ash">Extent Reports  </td>
                        <td class="bg-ash">Maven  </td>
                        
                      </tr>
                      <tr>
                        <th scope="row" class="bg-blue1 text-center">Alternate Tooling </th>
                        <td>Playwright,  
                            Puppeteer,  
                            Testcafe,  
                            Cypress,  
                            UFT,  
                            Protractor 
                               </td>
                        <td>Super Agent (Javascript),Axios (Javascript), Rest Sharp(c#), Java Apache HTTP Client libraries </td>
                        <td>Specflow(c#),  
                            Cucumber-JS 
                        
                        <td>Allure                             
                             </td>
                        <td> Gradle 
                            </td>
                      </tr>
                    </tbody>
                  </table>

            </div>
</div>
<!--mod4-->

<!--mod5-->
<div *ngIf="mod5">
  <div class="row">
    <div class="col-12 col-md-12 module-block">
       <h3 class="text-blue pb-4"><strong>Tikk Talk</strong></h3>
       

       
        

   </div>
</div>
</div>
<!--mod5-->


    </div>
    </div>
</main>