<div class="page-wrapper chiller-theme toggled">
  
      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-brand">
            <a >Quick Menu</a>
            <div id="close-sidebar">
              <i class="fas fa-arrow-circle-left"></i>
            </div>
          </div>
         
       
          <div class="sidebar-menu">
            <ul>
             
              <li class="sidebar-dropdown">
                <a >
                
                  <span><small>Module 1</small></span>
                <p class="p-0 m-0">Explore Continuous Testing with Azure</p>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a >What is Continuous Testing
                      </a>
                    </li>
                    <li>
                      <a >Why Azure?</a>
                    </li>
                    <li>
                      <a >How it benefits?</a>
                    </li>
                  </ul>
                </div>
              </li>
                
                  <li class="sidebar-dropdown">
                <a >
                
                 <span><small>Module 2</small></span>
                    <p class="p-0 m-0">Experience Lab Objectives & Premise</p>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a >What you will learn?
                      </a>
                    </li>
                    <li>
                      <a >How the Experience Lab is structured? 
    </a>
                    </li>
                   
                  </ul>
                </div>
              </li>
                
                  <li class="sidebar-dropdown">
                <a>
                
                  <span><small>Module 3</small></span>
                    <p class="p-0 m-0">Pre-Conditions</p>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a >What you will learn?
                      </a>
                    </li>
                    <li>
                      <a >How the Experience Lab is structured? 
    </a>
                    </li>
                   
                  </ul>
                </div>
              </li>
                
                <li class="sidebar-dropdown">
                <a >
                
                  <span><small>Module 4</small></span>
                    <p>Stage 1</p>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a >What you will learn?
                      </a>
                    </li>
                    <li>
                      <a >How the Experience Lab is structured? 
    </a>
                    </li>
                   
                  </ul>
                </div>
              </li>
    
            </ul>
          </div>
          <!-- sidebar-menu  -->
        </div>
        
      </nav>
      <!-- sidebar-wrapper  -->
      <main class="page-content">
        <div class="container-fluid">
            <!--top-->
            <div class="row justify-content-between px-5 py-1">
                <div class="col-6 col-md-2">
                    <img src="images/logo.png" class="img-fluid w-75" alt="">
                </div>
                <div class="col-6 col-md-2 text-right">
                    <img src="images/azure.png" class="img-fluid w-75" alt="">
                </div>
            </div>
            <!--top-->
            
            <!--blueStrip-->
            <div class="blue-strip px-5 py-3 text-white">
                <h5>Cognizant Eperience Lab</h5>
                <h2>Continuous Testing with Microsoft Azure</h2>
            </div>
            <!--blueStrip-->
            <!-- menu strip-->
            <div class="bg-light">
                <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="main-menu" ><i class="fa fa-bars"></i> &nbsp;&nbsp;Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >Course Module: 01/10</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Course Hours: 02 Hr 30m</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" >Course Progress:</a>
      </li>
    </ul>
            </div>
            <!-- menu strip-->
            
               <div class="px-5 py-5">
                
                <div class="row">
                    <div class="col-12 col-md-7">
                        <h3 class="text-blue"><strong>Module 1: Explore Continuous Testing with Azure</strong></h3>
                
                <p class="pt-3">CI keeps the master branch clean. Teams can leverage modern version
    control systems such as Git to create short-lived feature branches to isolate their work. 
    A developer submits a “pull request” when the feature is complete and, on approval
    of the pull request, the changes get merged into the master branch.  Then the developer
                    can delete the previous feature branch. </p>
    
    <p>Development teams repeat the process for additional work.  The team can establish branch
    policies to ensure the master branch meets desired quality criteria.</p>
    
    <p>Teams use build definitions to ensure that every commit to the master branch triggers the
    automated build and testing processes.  Implementing CI this way ensures bugs are caught
    earlier in the development cycle, which makes them less expensive to fix. Automated tests run
    for every build to ensure builds maintain a consistent quality.</p>
                    </div>
                    <div class="col-12 col-md-5">
                        <img src="images/tiki.png" class="img-fluid" alt="">
                    </div>
                    
                    
                </div>
            
                 
             <div class="pt-5">
                <small>Next <i class="fa fa-chevron-right"></i> &nbsp;&nbsp; <a>Module 1: Explore Continuous Testing with Azure</a>
    </small>
            </div>
            </div>
            
            
            
    
        </div>
      </main>
      <!-- page-content" -->
    </div>