<div class="bg-blue-cts" style="min-height:100%; background:#0f369a url(assets/images/main-bg.png); background-size: cover; animation: animation 300s linear infinite;">
<div class="container-fluid p-5">
    <div class="row justify-content-between">
        <div class="col-6 col-md-2">
            <img src="assets/images/logo-white.png" class="img-fluid w-75" alt="">
        </div>
        <div class="col-6 col-md-2">
            <img src="assets/images/azure-white.png" class="img-fluid w-75" alt="">
        </div>
    </div>
    
    <div class="text-center container text-white" >
        <img src="assets/images/mobile-image.png" style="width: 45%;" class="img-fluid" alt="">
        <h5>Cognizant Experience Lab</h5>
        <h3>Continuous Testing with Microsoft Azure</h3>
        <p class="w-75 m-auto pb-3">Digital transformation requires speed and efficiency across the DevOps lifecycle. At the same time, this enhanced speed and efficiency should not come at the cost of quality and overall customer experience. Based on our experience, we believe that the best way to achieve these goals is through the introduction of continuous testing in DevOps.</p>
        <a [routerLink]="'/modules/1/explore-Continuous-testing-with-azure'" class="btn btn-success">START NOW &nbsp;&nbsp;&nbsp; <i class="fa fa-caret-right"></i></a>
    </div>
      
</div>
</div>