<main class="page-content">
    <div class="container-fluid ">  
      <!--from-back-->
      <a [routerLink]="['/modules', moduleNumber, pageLeft]" *ngIf="showLeftArrow">
        <div class="navigation-nav nav-left">
          <i class="fa fa-chevron-left"></i>
        
        </div>
      </a>
      <a [routerLink]="['/modules', moduleNumber, pageRight]" *ngIf="showRightArrow">
        <div class="navigation-nav nav-right">
          <i class="fa fa-chevron-right"></i>
        </div>
      </a>
          <!--from-back-->           
        <app-header [courseNumber]='7'></app-header>
        <div class="px-5 py-5">
           <!--mod-->
           <div *ngIf="mod">
            <h3 class="text-blue"><strong>Stage 3 - Functional Assurance</strong></h3>   
            <div class="text-center py-4"><img src="assets/tikk/Quote-1.png"  class="img-fluid"></div>         
          </div>
          <!--mod-->
         <!--mod1-->
         <div *ngIf="mod1">
            <div class="row">
                <div class="col-12 col-md-12 module-block">
                   <h3 class="text-blue pb-4"><strong>Stage Objectives </strong></h3>
                   <p> Validate application’s functional behavior such as business process, user workflows & regression impact against the pre-defined outcomes.</p>

<p>Functional behaviours are <strong>“what”</strong> the system should do and Functional Testing evaluates if these functions perform as expected in the system. Functional requirements can be described and documented in business requirements specifications, epics, user stories, use cases, functional specifications (or) at times they may be undocumented. Functional tests should be performed at all test levels, though the focus is different at each level. </p>
<div class="text-center py-4"><img src="assets/stage3/1/3Functional-Assurance.png" (click)="openImage('assets/stage3/1/3Functional-Assurance.png')" class="img-fluid pointer"></div>


               </div>
            </div>
       </div>
        <!--mod1-->


        <!--mod2-->
        <div *ngIf="mod2">
            <div class="row">
                <div class="col-12 col-md-12 module-block">
                   <h3 class="text-blue pb-4"><strong>Pipeline Overview</strong></h3>
                  
                   <h4>Functional Assurance flow:</h4>
                   <div class="text-center py-4"><img src="assets/stage3/Pipeline-Overview/3.01UIteststage.JPG" (click)="openImage('assets/stage3/Pipeline-Overview/3.01UIteststage.JPG')" class="img-fluid pointer"></div>

    <p>The image above provides the Build and Release overview, for our particular use case, we will focus on the following:</p>                    
                 <div class="points p-4 bg-light">
                     <h6>UI </h6>
<p>focuses on validating business process through screens and objects</p>                    
<h6>API </h6>
<p>focuses on back-end services leveraged by front-end elements and objects</p>
<h6>Mobile </h6>
<p>refers to an RWD (Responsive Web Design) based interfaces</p>
</div>

<p>This stage will walk you through the assurance of your application functionalities. You will learn how to execute UI-based tests, responsive web design (RWD)-based tests and API tests using an open source tool stack.</p>

<p>The process consists of 2 steps: Build and Release.</p>
<div class="points p-4 bg-light">

<h6>Build </h6>
<p>This will download source code from Azure Repository, create a Docker image of test framework and push it to Azure Container Registry. It will also produce a docker-compose.yml as a build artifact. </p>
<h6>Release </h6>
<p>The artifact published by build pipeline will trigger all the three tests in a parallel and publish test results.</p>



</div>

<p>With every code change committed to the repository, the Build Pipeline will be auto triggered and the subsequent Release pipeline will be triggered to execute the tests in parallel.</p>

<p>Automation for UI on Web and mobile with RWD tests is implemented using open source tools such as Selenium, Cucumber and Maven following Page Factory Pattern:</p>
<div class="points p-4 bg-light">
    <h6>UI Automation: </h6>
    <p>UI test cases are executed automatically in the UI Test stage of the Release.</p>
    <div class="text-center py-4"><img src="assets/stage3/Pipeline-Overview/3.02TestsuiteUI.jpg" (click)="openImage('assets/stage3/Pipeline-Overview/3.02TestsuiteUI.jpg')" class="img-fluid pointer"></div>
  </div>

<p>The corresponding manual test cases, which were created as part of landing zone, are also automatically updated. </p>
<div class="text-center py-4"><img src="assets/stage3/Pipeline-Overview/3.03RWDUIteststage.JPG" (click)="openImage('assets/stage3/Pipeline-Overview/3.03RWDUIteststage.JPG')" class="img-fluid pointer"></div>


<div class="points p-4 bg-light">
    <h6>RWD Automation </h6>
    <p>RWD test cases are executed automatically using Azure UI stage.</p>
    <div class="text-center py-4"><img src="assets/stage3/Pipeline-Overview/3.04TestsuiteRWDUI.jpg" (click)="openImage('assets/stage3/Pipeline-Overview/3.04TestsuiteRWDUI.jpg')" class="img-fluid pointer"></div>
  </div>

<p>The corresponding manual test cases, which were created as part of landing zone, are also automatically updated. </p>
<div class="text-center py-4"><img src="assets/stage3/Pipeline-Overview/3.05APIteststage.JPG" (click)="openImage('assets/stage3/Pipeline-Overview/3.05APIteststage.JPG')" class="img-fluid pointer"></div>


<div class="points p-4 bg-light">
    <h6>API Tests</h6>
    <p>API test cases are executed automatically using Azure UI stage.</p>
    <div class="text-center py-4"><img src="assets/stage3/Pipeline-Overview/3.06TestsuiteAPI.jpg" (click)="openImage('assets/stage3/Pipeline-Overview/3.06TestsuiteAPI.jpg')" class="img-fluid pointer"></div>
  </div>

<p>The corresponding manual test cases, which were created as part of landing zone, are also automatically updated. </p>
<div class="text-center py-4"><img src="assets/stage3/Pipeline-Overview/3.07TestPlan.jpg" (click)="openImage('assets/stage3/Pipeline-Overview/3.07TestPlan.jpg')" class="img-fluid pointer"></div>



               </div>
            </div>
     </div>
     <!--mod2-->

     <!--mod3-->
     <div *ngIf="mod3">
        <div class="row">
            <div class="col-12 col-md-12 module-block">
               <h3 class="text-blue pb-4"><strong>Test Plan Integration</strong></h3>
               <p>In the Landing Zone phase, Test Plans => Test Suites => Test cases are created. These test cases correspond to the Automated Smoke, UI, API and RWD tests.</p>
               
               <h4>Test Plan</h4>
               <div class="text-center py-4"><img src="assets/stage3/Pipeline-Overview/3.08Testsuite.jpg" (click)="openImage('assets/stage3/Pipeline-Overview/3.08Testsuite.jpg')" class="img-fluid pointer"></div>

               <p>As part of this Integration, we will shortly see how the automation framework updates the test case statuses in Test Plan and logs a defect if a test case fails.</p>
               



           </div>
        </div>
 </div>
 <!--mod3-->



 <!--mod4-->
 <div *ngIf="mod4">
    <div class="row">
        <div class="col-12 col-md-12 module-block">
           <h3 class="text-blue pb-4"><strong>Pipeline Creation & Execution</strong></h3>
          
           <div class="card text-white bg-info mb-3">
            <div class="card-header">Note</div>
            <div class="card-body">
              <p class="card-text">Please complete up to Stage 2: <strong>Landing Zone, Pre-build QA and Post-build QA</strong> before commencing with this Stage on Functional Assurance. This will ensure you have deployed the build on the server successfully, before executing the Functional test suits during this stage. </p>
            </div>
          </div>


          <h4>Build</h4>
          <p><strong>1.</strong> Execute the below npm command from Azure CLI to automatically create the Functional Assurance Build pipeline and subsequent Release pipeline:</p>

          <div class="code" (click)="copyText(code1)"><code #code1>   npm run functional</code> 
            <div *ngIf="copied" class="code-copied" >Copied  <i class="fas fa-check text-success"></i></div>
            <button class="btn btn-lg  code-copy"  *ngIf="!copied">
              <i class="fas fa-copy text-light"></i>
         </button> </div>

          
          <p><strong>1.</strong> Go to the Azure Pipeline View and check the status of your pipeline named ‘FUNCTIONALASSURANCE-BUILD-RELEASE’. It should be in progress. </p>

        <p>This step takes approximately 1 minute 30 seconds and if successful, you can see the status by navigating to pipelines>>FUNCTIONALASSURANCE-BUILD-RELEASE, as shown in the Exhibit below:</p>
        <div class="text-center py-4"><img src="assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.01FnctionalPipeline.jpg" (click)="openImage('assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.01FnctionalPipeline.jpg')" class="img-fluid pointer"></div>

        <p>On successful creation of the Build Pipeline, the Release Pipeline will be auto triggered, initiating the Test execution. You can now view the execution progress, by navigating to Pipelines >> Releases >> FUNCTIONAL ASSURANCE RELEASE.</p>
        <div class="text-center py-4"><img src="assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.01FnctionalPipelinedecription.jpg" (click)="openImage('assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.01FnctionalPipelinedecription.jpg')" class="img-fluid pointer"></div>
        <div class="text-center py-4"><img src="assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.02jobs.jpg" (click)="openImage('assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.02jobs.jpg')" class="img-fluid pointer"></div>
        <p><strong>1.</strong> If you click on Release-1, you should see the 3 stages running in parallel, refer Exhibit:</p>
        <div class="text-center py-4"><img src="assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.03jobexecution.jpg" (click)="openImage('assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.03jobexecution.jpg')" class="img-fluid pointer"></div>
        <p>Now let us dig deep into the Release pipeline a little bit.</p>

        <h4>Release</h4>
        <p>As mentioned before, on successful completion of the build pipeline, the Release pipeline is created automatically and triggered.</p>

        <p>The Release Pipeline Variables are as follows:</p>
        <div class="text-center py-4"><img src="assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.05releasestages.jpg" (click)="openImage('assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.05releasestages.jpg')" class="img-fluid pointer"></div>

        <p><strong>1.</strong> To view the tasks added in each stage, click on Tasks tab inside each stage. The set of tasks for all 3 Test Execution stages are same as shown below:</p>
        <div class="text-center py-4"><img src="assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.06Variables.JPG" (click)="openImage('assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.06Variables.JPG')" class="img-fluid pointer"></div>

        <p>The difference lies in the execution commands. For each stage, they are as follows:</p>

        <div class="points p-4 bg-light">
            <h6>UI Test Stage</h6>
            <p>HOSTIP="$(HostIP)" APIIP="$(ApiIP)" DASHBOARDIP="$(DashboardIP)" ORGNAME="$(organization)" GRIDHUBURL="$(huburl)" REGISTRY="$(registryName)" TESTTAGS="@UITest" PAT=$(pat)  docker-compose run automation</p>
            
            <h6>API Test Stage</h6>
            <p>HOSTIP="$(HostIP)" APIIP="$(ApiIP)" DASHBOARDIP="$(DashboardIP)" ORGNAME="$(organization)" GRIDHUBURL="$(huburl)" REGISTRY="$(registryName)" TESTTAGS="@APITest" PAT=$(pat)  docker-compose run automation</p>

            <h6>RWDUI Test Stage</h6>
            <p>RWDUI Test StageHOSTIP="$(HostIP)" APIIP="$(ApiIP)" DASHBOARDIP="$(DashboardIP)" ORGNAME="$(organization)" GRIDHUBURL="$(huburl)" REGISTRY="$(registryName)" TESTTAGS="@UIRWDTest" PAT=$(pat)  docker-compose run automation</p>
       
        </div>

        <p>Upon the completion of the execution, you will notice that the Pipeline fails at the UI Test Stage.</p>
        <p>Let us debug, fix the issue and re-execute the pipeline.</p>

        <p>Additionally, Practitioners can access Cognizant Thought Leadership on CI/CD for Web Services Testing, by referring the insightful whitepaper by our technology experts titled - “Continuous Integration and Continuous Delivery to Facilitate Web Service Testing”. You will find the link to the whitepaper in the Register with Cognizant page -<a class="a" href="https://www.cognizant.com/application-modernization">https://www.cognizant.com/application-modernization.</a></p>



    </div>
    </div>
</div>
<!--mod4-->


<!--mod5-->
<div *ngIf="mod5">
    <div class="row">
        <div class="col-12 col-md-12 module-block">
           <h3 class="text-blue pb-4"><strong>Debugging & Re-Excution</strong></h3>
           <p>To understand in detail why the failure happened, please check the error message by going to “Tests” tab of the UI Tests. Refer Exhibit:</p>
           <div class="text-center py-4"><img src="assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.08Error.jpg" (click)="openImage('assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.08Error.jpg')" class="img-fluid pointer"></div>
           <p>You will be able to see the report with the error:</p>

            <p><strong>1.</strong> Click on the failed Test Case to read the error message from the Debug tab.</p>
            <p> org.openqa.selenium.NoSuchElementException: no such element: Unable to locate element: <span class="brackets">"method":"xpath","selector":"//span[contains(text(),’Incorrect Password’)]"</span> </p>
                <p>Such errors indicate that the automation script is unable to locate the object on the screen as properties of that UI object have changed since the last build. This is a very common error and calls for script maintenance</p>
                    <p><strong>2.</strong> To fix this issue, navigate to the Azure Repositories of your project, find the repository “azure_workshop_functional_assurance” and edit the file ShopLoginPage.java azure_workshop_functional_assurance/src/test/java/pages/ShopLoginPage.java
                        <p>Refer the Exhibit as shown below for details:</p>
                        <div class="text-center py-4"><img src="assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.09FailureFixLink.jpg" (click)="openImage('assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.09FailureFixLink.jpg')" class="img-fluid pointer"></div>
                        <div class="text-center py-4"><img src="assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.10Editscript.jpg" (click)="openImage('assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.10Editscript.jpg')" class="img-fluid pointer"></div>
                        <p>You will notice at line# 61 as: @FindBy(xpath = “//span[contains(text(),’Incorrect Password’)]”). </p>

                        <p><strong>3.</strong> Change the ’Incorrect Password’ to ‘Customer not found with email’, provide the required details like comment and click ‘Commit’. Refer Exhibit below for more details:
                            
                            </p>
                            <div class="text-center py-4"><img src="assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.11gitCommit.jpg" (click)="openImage('assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.11gitCommit.jpg')" class="img-fluid pointer"></div>
                            <p>The Commit will automatically trigger the pipeline and this time it will be executed successfully. Refer the Exhibit as shown below for ‘succeeded’ status updated against each stage.</p>
                            <div class="text-center py-4"><img src="assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.12Re-runStages.jpg" (click)="openImage('assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.12Re-runStages.jpg')" class="img-fluid pointer"></div>


       </div>
    </div>
</div>
<!--mod5-->


<!--mod6-->
<div *ngIf="mod6">
    <div class="row">
        <div class="col-12 col-md-12 module-block">
           <h3 class="text-blue pb-4"><strong>Test Report Analysis</strong></h3>
            <p>You can now view the Results and Reports of the Test cases in 3 places.</p>
            <p>In the Individual Release stages, navigate to the Test tabs to view the detailed report. Refer Exhibit below for more details:</p>
            <div class="text-center py-4"><img src="assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.13TestResults.JPG" (click)="openImage('assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.13TestResults.jpg')" class="img-fluid pointer"></div>

            <p>In the Test Plans, inside the respective Test Suites, the statuses of each Test Case is updated.</p>           
            <div class="text-center py-4"><img src="assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.14TestPlanupdated.jpg" (click)="openImage('assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.14TestPlanupdated.jpg')" class="img-fluid pointer"></div>

            <p><strong>1.</strong> To view the custom report dashboard, navigate to Overview -> Dashboards -> Functional-QA-Overview. You will see details as per the Exhibit below:</p>
            <div class="text-center py-4"><img src="assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.15DashboardReport.JPG" (click)="openImage('assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.15DashboardReport.jpg')" class="img-fluid pointer"></div>
            <div class="text-center py-4"><img src="assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.16DashboardStagesOverview.JPG" (click)="openImage('assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.16DashboardStagesOverview.jpg')" class="img-fluid pointer"></div>
               
            <p><strong>2.</strong>To view detailed reports, navigate to the Azure Dashboard. Go to Overview -> Dashboards -> EXPERIENCE_LAB_OVERVIEW, and click on [<strong>API</strong>] or [<strong>UI</strong>] OR [<strong>RWD</strong>] inside the “<strong>Reports</strong>” widget. Refer Exhibit below for details:</p>
            <div class="text-center py-4"><img src="assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.17ExperienceDashboardOverview.jpg" (click)="openImage('assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.17ExperienceDashboardOverview.jpg')" class="img-fluid pointer"></div>
            <div class="text-center py-4"><img src="assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.18ExtendReportoverview.JPG" (click)="openImage('assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.18ExtendReportoverview.JPG')" class="img-fluid pointer"></div>

          </div>
    </div>


    <h4>Reference Links</h4>
            <p>Practitioners can access Cognizant Thought Leadership on CI/CD for Web Services Testing, by referring the insightful whitepaper by our technology experts titled - “Continuous Integration and Continuous Delivery to Facilitate Web Service Testing”. You will find the link to the whitepaper in the Register with Cognizant page -<a href="https://www.cognizant.com/application-modernization" target="_blank" class="a">https://www.cognizant.com/application-modernization</a>.</p>

            <h4>Tool Alternate options</h4>

            <div class="table-responsive">
              <table class="table table-borderless table-light">
                    <thead>
                      <tr class="bg-blue1">
                        <th  class="text-left bg-blue2 text-center" scope="col">Stages </th>
                        <th colspan="5" class="text-center" scope="col">FUNCTIONAL QA </th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" class="bg-blue1 text-center">Category</th>
                        <td>UI AUTOMATION TOOL  </td>
                        <td>API AUTOMATION TOOL  </td>
                        <td>Automation framework </td>
                        <td>Reporting  </td>
                        <td>BUILD TOOL </td>
                        
                      </tr>
                      <tr>
                        <th scope="row" class="bg-blue3 text-center">Current Tooling </th>
                        <td class="bg-ash">Selenium   </td>
                        <td class="bg-ash">Jaccoco </td>
                        <td class="bg-ash">Cucumber  </td>
                        <td class="bg-ash">Extent Reports  </td>
                        <td class="bg-ash">Maven  </td>
                        
                      </tr>
                      <tr>
                        <th scope="row" class="bg-blue1 text-center">Alternate Tooling </th>
                        <td>Playwright,  
                            Puppeteer,  
                            Testcafe,  
                            Cypress,  
                            UFT,  
                            Protractor 
                               </td>
                        <td>Super Agent (Javascript),Axios (Javascript), Rest Sharp(c#), Java Apache HTTP Client libraries </td>
                        <td>Specflow(c#),  
                            Cucumber-JS 
                        
                        <td>Allure                             
                             </td>
                        <td> Gradle 
                            </td>
                      </tr>
                    </tbody>
                  </table>

            </div>

</div>
<!--mod6-->

    </div>
    </div>
</main>