<main class="page-content">
    <div class="container-fluid ">  
     <!--from-back-->
     <a (click)="moveLeft()" *ngIf="showLeftArrow">
      <div class="navigation-nav nav-left">
        <i class="fa fa-chevron-left"></i>
      
      </div>
    </a>
    <a (click)="moveRight()" *ngIf="showRightArrow">
      <div class="navigation-nav nav-right">
        <i class="fa fa-chevron-right"></i>
      </div>
    </a>
        <!--from-back-->            
        <app-header [courseNumber]='7'></app-header>
        <div class="px-5 pt-3">
           <!--mod-->
           <div *ngIf="mod">
            <h3 class="text-blue text-center"><strong>Stage 3 - Functional Assurance</strong></h3>   
            <div class="text-center "><img src="assets/tikk/Tik_ModuleIntro_7.jpg"  class="img-fluid w-75"></div>
   
          </div>
          <!--mod-->
         <!--mod1-->
         <div *ngIf="mod1">
            <div class="row">
                <div class="col-12 col-md-12 module-block">
                   <h3 class="text-blue pb-4"><strong>Stage Objectives </strong></h3>
                   <p> Validate application’s functional behavior such as business process, user workflows & regression impact against the pre-defined outcomes.</p>

<p>Functional behaviours are <strong>“what”</strong> the system should do and Functional Testing evaluates if these functions perform as expected in the system. Functional requirements can be described and documented in business requirements specifications, epics, user stories, use cases, functional specifications (or) at times they may be undocumented. Functional tests should be performed at all test levels, though the focus is different at each level. </p>
<div class="text-center py-4"><img src="assets/stage3/1/3Functional-Assurance.png" (click)="openImage('assets/stage3/1/3Functional-Assurance.png')" class="img-fluid pointer"></div>


               </div>
            </div>
       </div>
        <!--mod1-->


        <!--mod2-->
        <div *ngIf="mod2">
            <div class="row">
                <div class="col-12 col-md-12 module-block">
                   <h3 class="text-blue pb-4"><strong>Pipeline Overview</strong></h3>
                  
                   <h4>Functional Assurance flow:</h4>
                   <div class="text-center py-4"><img src="assets/stage3/2/pipelineoverview.jpg" (click)="openImage('assets/stage3/2/pipelineoverview.jpg')" class="img-fluid pointer"></div>

    <p>The image above provides the Build and Release overview, for our particular use case, we will focus on the following:</p>                    
                 <div class="points p-4 bg-light">
                     <h6>UI </h6>
<p>focuses on validating business process through screens and objects</p>                    
<h6>API </h6>
<p>focuses on back-end services leveraged by front-end elements and objects</p>
<h6>Mobile </h6>
<p>refers to an RWD (Responsive Web Design) based interfaces</p>
</div>

<p class="pt-3">This stage will walk you through the assurance of your application functionalities. You will learn how to execute UI-based tests, responsive web design (RWD)-based tests and API tests using an open source tool stack.</p>

<p>The process consists of 2 steps: Build and Release.</p>
<div class="points p-4 bg-light">

<h6>Build </h6>
<p>This will download source code from Azure Repository, create a Docker image of test framework and push it to Azure Container Registry. It will also produce a docker-compose.yml as a build artifact. </p>
<h6>Release </h6>
<p>The artifact published by build pipeline will trigger all the three tests in a parallel and publish test results.</p>



</div>

<p class="pt-3">With every code change committed to the repository, the Build Pipeline will be auto triggered and the subsequent Release pipeline will be triggered to execute the tests in parallel.</p>



               </div>
            </div>
     </div>
     <!--mod2-->

     <!--mod3-->
     <div *ngIf="mod3">
        <div class="row">
            <div class="col-12 col-md-12 module-block">
               <h3 class="text-blue pb-4"><strong>Test Plan Integration</strong></h3>
               <p>In the Landing Zone phase, Test Plans => Test Suites => Test cases are created. These test cases correspond to the Automated Smoke, UI, API and RWD tests.</p>
               
               <h4>Test Plan</h4>
               <div class="text-center py-4"><img src="assets/stage3/test-plan/1.jpg" (click)="openImage('assets/stage3/test-plan/1.jpg')" class="img-fluid pointer"></div>

               <p>As part of this Integration, we will shortly see how the automation framework updates the test case statuses in Test Plan and logs a defect if a test case fails.</p>
               
              <p>Automation for UI on Web and mobile with RWD tests is implemented using open source tools such as <strong>Selenium, Cucumber</strong> and <strong>Maven</strong> following Page Factory Pattern:</p>

              <p><strong>UI Automation:</strong>  UI test cases are executed automatically in the UI Test stage of the Release.</p>
              <div class="text-center py-4"><img src="assets/stage3/test-plan/2.jpg" (click)="openImage('assets/stage3/test-plan/2.jpg')" class="img-fluid pointer"></div>
              <p>The corresponding manual test cases, which were created as part of landing zone, are also automatically updated. </p>
              <div class="text-center py-4"><img src="assets/stage3/test-plan/3.jpg" (click)="openImage('assets/stage3/test-plan/3.jpg')" class="img-fluid pointer"></div>
              <p><strong>RWD Automation:</strong> RWD test cases are executed automatically using Azure RWD stage.</p>
              <div class="text-center py-4"><img src="assets/stage3/test-plan/4.jpg" (click)="openImage('assets/stage3/test-plan/4.jpg')" class="img-fluid pointer"></div>
              <p>The corresponding manual test cases, which were created as part of landing zone, are also automatically updated. </p>
              <div class="text-center py-4"><img src="assets/stage3/test-plan/5.jpg" (click)="openImage('assets/stage3/test-plan/5.jpg')" class="img-fluid pointer"></div>
              <p><strong>API Tests:</strong> API test cases are executed automatically using Azure API stage.</p>
              <div class="text-center py-4"><img src="assets/stage3/test-plan/6.jpg" (click)="openImage('assets/stage3/test-plan/6.jpg')" class="img-fluid pointer"></div>
              <p>The corresponding manual test cases, which were created as part of landing zone, are also automatically updated. </p>
              <div class="text-center py-4"><img src="assets/stage3/test-plan/7.jpg" (click)="openImage('assets/stage3/test-plan/7.jpg')" class="img-fluid pointer"></div>
              <p>As part of this Integration, we will shortly see how the automation framework updates the test case statuses in Test Plan and logs a defect if a test case fails.</p>
            </div>
        </div>
 </div>
 <!--mod3-->



 <!--mod4-->
 <div *ngIf="mod4">
    <div class="row">
        <div class="col-12 col-md-12 module-block">
           <h3 class="text-blue pb-4"><strong>Pipeline Creation & Execution</strong></h3>
          
           <div class="card text-white bg-info mb-3">
           
            <div class="card-body">
              <p class="card-text"><strong>Note:</strong> Please complete up to <strong>Stage 2: Post-build QA including Landing Zone and Pre-build QA </strong> before commencing with Stage 3 - Functional Assurance. This will ensure you have deployed the build on the server successfully, before executing the Functional test suits during this stage.
              </p>
            </div>
          </div>


          <h4>Build</h4>
          <p><strong>1.</strong> Execute the below npm command from Cloud Shell to automatically create the Functional Assurance Build pipeline and subsequent Release pipeline:</p>

          <div class="code" (click)="copyText(code1)"><code #code1>cd && cd azure-cli && npm run functional</code> 
            <div *ngIf="copied" class="code-copied" >Copied  <i class="fas fa-check text-success"></i></div>
            <button class="btn btn-lg  code-copy"  *ngIf="!copied">
              <i class="fas fa-copy text-light"></i>
         </button> </div>
         <p class="pt-3">This step takes approximately 2 minutes </p>
         <div class="text-center py-4"><img src="assets/stage3/3/buildpipelinecmd.jpg" (click)="openImage('assets/stage3/3/buildpipelinecmd.jpg')" class="img-fluid pointer"></div>
        <p><strong>2.</strong> Go to the Azure Pipeline View and check the status of your pipeline named ‘FUNCTIONALASSURANCE-BUILD-RELEASE’. It should be in progress. </p>

        <p>This step takes approximately 2 minutes and if successful, you can see the status by navigating to pipelines>>FUNCTIONALASSURANCE-BUILD-RELEASE, as shown in the Exhibit below:</p>
        <div class="text-center py-4"><img src="assets/stage3/3/functionalbuild.jpg" (click)="openImage('assets/stage3/3/functionalbuild.jpg')" class="img-fluid pointer"></div>

        <p><strong>3.</strong> On successful creation of the Build Pipeline, the Release Pipeline will be auto triggered, initiating the Test execution. You can now view the execution progress, by navigating to Pipelines >> Releases >> FUNCTIONAL ASSURANCE RELEASE.</p>
        <div class="text-center py-4"><img src="assets/stage3/3/release1.jpg" (click)="openImage('assets/stage3/3/release1.jpg')" class="img-fluid pointer"></div>
        <p><strong>4.</strong> If you click on Release-1, you should see the 3 stages executed in parallel, refer below Exhibit:</p>
        <div class="text-center py-4"><img src="assets/stage3/3/release1stages.jpg" (click)="openImage('assets/stage3/3/release1stages.jpg')" class="img-fluid pointer"></div>
        <p>Above  Exhibit displays that the <strong>UI Test</strong> has failed. Now we can see how to Debug and Fix this issue in next section. </p>
    </div>
    </div>
</div>
<!--mod4-->


<!--mod5-->
<div *ngIf="mod5">
    <div class="row">
        <div class="col-12 col-md-12 module-block">
           <h3 class="text-blue pb-4"><strong>Debugging & Re-execution</strong></h3>
           <p><strong>1.</strong>	To understand in detail why the failure happened, mouse-hover on UI Test stage and click on Logs. refer below Exhibit: </p>
           <div class="text-center py-4"><img src="assets/stage3/4/stage_failure.jpg" (click)="openImage('assets/stage3/4/stage_failure.jpg')" class="img-fluid pointer"></div>
           <p><strong>2.</strong>Click on <strong>Bash exited with code '1'.</strong> Refer below Exhibit:</p>
           <div class="text-center py-4"><img src="assets/stage3/4/bash_details.jpg" (click)="openImage('assets/stage3/4/bash_details.jpg')" class="img-fluid pointer"></div>
           <p><strong>3.</strong> Now <strong>Detailed Logs</strong> will be displayed refer below Exhibit:</p>
           <div class="text-center py-4"><img src="assets/stage3/4/detailedlog.jpg" (click)="openImage('assets/stage3/4/detailedlog.jpg')" class="img-fluid pointer"></div>
           <p><strong>4.</strong> To understand the error better navigate to <strong>Overview -> Dashboard -> AZURE_WORKSHOP_PROJECT Team - EXPERIENCE_LAB_OVERVIEW</strong> and you can view the section Reports, as shown in below Exhibit:</p>
           <div class="text-center py-4"><img src="assets/stage3/4/dashboard.jpg" (click)="openImage('assets/stage1/4/dashboard.jpg')" class="img-fluid pointer"></div>
           <p><strong>5.</strong> In <strong>Reports</strong> section - to view the Reports of Functional UI Test- click <strong>UI</strong> link – it will navigate you to the corresponding Extent report, as shown in below Exhibit:</p>
           <div class="text-center py-4"><img src="assets/stage3/4/reportinguitest.jpg" (click)="openImage('assets/stage1/4/reportinguitest.jpg')" class="img-fluid pointer"></div>
           <p>As shown in above Exhibit: On clicking Login Feature - We can see the failure </p>
            <p> org.openqa.selenium.TimeoutException: Expected condition failed: waiting for visibility of Proxy element for: DefaultElementLocator 'By.xpath: //span[contains(text(),'Incorrect Password')]' (tried for 20 second(s) with 500 milliseconds interval)
           </p>
           <p>Now, let us understand the nature of the failure.</p>

            <h4>Why did we encounter this failure?</h4>
                <p>Such errors indicate that the automation script is unable to locate the object on the screen as properties of that UI object have changed or missing since the last build. This is a very common error and calls for script maintenance</p>
                <h4>How do we fix the identified bug?</h4>
              
                <p><strong>6.</strong> Navigate to <strong>Overview -> Dashboard -> AZURE_WORKSHOP_PROJECT Team - EXPERIENCE_LAB_OVERVIEW</strong> you can see a section with the name <strong>Failure Fix</strong></p>
                <div class="text-center py-4"><img src="assets/stage1/4/7.jpg" (click)="openImage('assets/stage1/4/7.jpg')" class="img-fluid pointer"></div>
                
                <p><strong>7.</strong> Click on <strong>Functional-QA - FIX</strong> link from Failure Fix Widget.  </p>
                <div class="text-center py-4"><img src="assets/stage3/4/3.09FailureFixLink.jpg" (click)="openImage('assets/stage3/4/3.09FailureFixLink.jpg')" class="img-fluid pointer"></div>
                <p><strong>8.</strong> In new tab, it  will navigate directly to path: <strong>Repos -> Files ->azure_workshop_functional_assurance -> src -> test -> java -> pages -> ShopLoginPage.java</strong></p>
            
                <div class="text-center py-4"><img src="assets/stage3/4/3.10Editscript.jpg" (click)="openImage('assets/stage3/4/3.10Editscript.jpg')" class="img-fluid pointer"></div>
                        <p><strong>9.</strong> You will notice at line# 61 as: @FindBy(xpath = “//span[contains(text(),’Incorrect Password’)]”). </p>

                        <p>Change the ’Incorrect Password’ to ‘Customer not found with email’, provide the required details like comment and click ‘Commit’. Refer Exhibit below for more details:
                            
                            </p>
                            <div class="text-center py-4"><img src="assets/stage3/4/3.11gitCommit.jpg" (click)="openImage('assets/stage3/4/3.11gitCommit.jpg')" class="img-fluid pointer"></div>
                            <p><strong>10.</strong> The Commit will automatically trigger the pipeline and this time it will be executed successfully. Refer the Exhibit as shown below for ‘succeeded’ status updated against each stage.</p>
                            <div class="text-center py-4"><img src="assets/stage3/4/pass_summary.jpg" (click)="openImage('assets/stage3/4/pass_summary.jpg')" class="img-fluid pointer"></div>
                            <p><strong>11.</strong> On click <strong>Release-2</strong> - we can see the stage view</p>
                            <div class="text-center py-4"><img src="assets/stage3/4/3.12Re-runStages.jpg" (click)="openImage('assets/stage3/4/3.12Re-runStages.jpg')" class="img-fluid pointer"></div>


       </div>
    </div>
</div>
<!--mod5-->


<!--mod6-->
<div *ngIf="mod6">
    <div class="row">
        <div class="col-12 col-md-12 module-block">
           <h3 class="text-blue pb-4"><strong>Test Report Analysis</strong></h3>
            <p>You can now view the Results and Reports of the Test cases in 3 places.</p>
            <p><strong>1.</strong> To view the Individual Release stages, example <strong> for UI - click on succeeded on UI Stage</strong>. Refer Exhibit below for more details:</p>
            <div class="text-center py-4"><img src="assets/stage3/5/Release_Stage.jpg" (click)="openImage('assets/stage3/5/Release_Stage.jpg')" class="img-fluid pointer"></div>
            <p><strong>2.</strong> Click  on tests and clear filter as shown in below Exhibit.</p>
            <div class="text-center py-4"><img src="assets/stage3/5/tests_report_uistage_navigation.jpg" (click)="openImage('assets/stage3/5/tests_report_uistage_navigation.jpg')" class="img-fluid pointer"></div>
            <p> <strong>3.</strong> Reports can be viewed now.</p>
            <div class="text-center py-4"><img src="assets/stage3/5/tests_report_uistage.jpg" (click)="openImage('assets/stage3/5/tests_report_uistage.jpg')" class="img-fluid pointer"></div>
<p><strong>4.</strong> To view the reports in Azure dashboard, navigate to Overview -> Dashboards -> Functional-QA-Overview. You will see details as per the Exhibit below:</p>            <div class="text-center py-4"><img src="assets/stage3/5/dashboard_testoverview.jpg" (click)="openImage('assets/stage3/5/dashboard_testoverview.jpg')" class="img-fluid pointer"></div> 
            <p><strong>4.</strong> To view detailed reports, navigate to the Azure Dashboard. Go to Overview -> Dashboard -> AZURE_WORKSHOP_PROJECT Team - EXPERIENCE_LAB_OVERVIEW, and click on [<strong>API</strong>] or [<strong>UI</strong>] OR [<strong>RWD</strong>] inside the “<strong>Reports</strong>” widget. Refer Exhibit below for details:</p>
            <div class="text-center py-4"><img src="assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.17ExperienceDashboardOverview.jpg" (click)="openImage('assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.17ExperienceDashboardOverview.jpg')" class="img-fluid pointer"></div>
            <div class="text-center py-4"><img src="assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.18ExtendReportoverview.JPG" (click)="openImage('assets/stage3/PIPELINE-CREATION-AND-EXECUTION/3.18ExtendReportoverview.JPG')" class="img-fluid pointer"></div>
            
          </div>
    </div>


    <h4>Reference Links</h4>
            <p>Practitioners can access Cognizant Thought Leadership on CI/CD for Web Services Testing, by referring the insightful whitepaper by our technology experts titled - “Continuous Integration and Continuous Delivery to Facilitate Web Service Testing”. You will find the link to the whitepaper in the Register with Cognizant page -<a href="https://www.cognizant.com/application-modernization" target="_blank" class="a">https://www.cognizant.com/application-modernization</a>.</p>

            <h4>Tool Alternate options</h4>

            <div class="table-responsive">
              <table class="table table-borderless table-light">
                    <thead>
                      <tr class="bg-blue1">
                        <th  class="text-left bg-blue2 text-center" scope="col">Stages </th>
                        <th colspan="5" class="text-center" scope="col">FUNCTIONAL QA </th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" class="bg-blue1 text-center">Category</th>
                        <td>UI AUTOMATION TOOL  </td>
                        <td>API AUTOMATION TOOL  </td>
                        <td>Automation framework </td>
                        <td>Reporting  </td>
                        <td>BUILD TOOL </td>
                        
                      </tr>
                      <tr>
                        <th scope="row" class="bg-blue3 text-center">Current Tooling </th>
                        <td class="bg-ash">Selenium   </td>
                        <td class="bg-ash">Jaccoco </td>
                        <td class="bg-ash">Cucumber  </td>
                        <td class="bg-ash">Extent Reports  </td>
                        <td class="bg-ash">Maven  </td>
                        
                      </tr>
                      <tr>
                        <th scope="row" class="bg-blue1 text-center">Alternate Tooling </th>
                        <td>Playwright,  
                            Puppeteer,  
                            Testcafe,  
                            Cypress,  
                            UFT,  
                            Protractor 
                               </td>
                        <td>Super Agent (Javascript),Axios (Javascript), Rest Sharp(c#), Java Apache HTTP Client libraries </td>
                        <td>Specflow(c#),  
                            Cucumber-JS 
                        
                        <td>Allure                             
                             </td>
                        <td> Gradle 
                            </td>
                      </tr>
                    </tbody>
                  </table>

            </div>

</div>
<!--mod6-->

<!--mod7-->
<div *ngIf="mod7">
  <div class="row">
    <div class="col-12 col-md-12 module-block">
       <h3 class="text-blue pb-4"><strong>Tikk Talk</strong></h3>
       

       
        

   </div>
</div>
</div>
<!--mod7-->

    </div>
    </div>
</main>