.is-active::after{ 
    content: '\2713';
   font-size: 16px;
}
.is-active{ background-color: #0e38a3; border-radius: 10px 0px 0px 10px;}

.left-menu::after{ 
    font-size: 16px;
    content: '\2713';
}