<main class="page-content">
    <div class="container-fluid ">
       <!--from-back-->
       <a [routerLink]="['/modules', moduleNumber, pageLeft]" *ngIf="showLeftArrow">
        <div class="navigation-nav nav-left">
          <i class="fa fa-chevron-left"></i>
        
        </div>
      </a>
      <a [routerLink]="['/modules', moduleNumber, pageRight]" *ngIf="showRightArrow">
        <div class="navigation-nav nav-right">
          <i class="fa fa-chevron-right"></i>
        </div>
      </a>
          <!--from-back-->        
        <app-header [courseNumber]='3'></app-header>
        <div class="px-5 py-5">
           <!--mod-->
           <div *ngIf="mod">
            <h3 class="text-blue"><strong>Pre-Conditions</strong></h3>            
            <div class="text-center py-4"><img src="assets/tikk/Quote-1.png"  class="img-fluid"></div>
          </div>
          <!--mod-->
         <!--mod1-->
         <div *ngIf="mod1">
             <div class="row">
                 <div class="col-12 col-md-12 module-block">
                    <h3 class="text-blue pb-4"><strong>How to create an Azure Account?</strong></h3>
                   


                      <div class="card text-white bg-info mb-3">
                        <div class="card-header">Note</div>
                        <div class="card-body">
                          <ul>
                            <li>To create account on Azure Portal, you need to have a phone number, a Credit / Debit card, and a GitHub account (or) a Microsoft account.</li>
                            <li>If you already have an Azure account - Free (or) Pay as you go Subscription and have Administrator access, you can skip this page. Also please go through the Azure Free Account FAQ section for more information on your account, refer <a href="https://azure.microsoft.com/en-us/free/free-account-faq/" class="a">https://azure.microsoft.com/en-us/free/free-account-faq/</a> </li>
                          </ul>
                        
                        </div>
                      </div>

                      <p class="pt-3"><strong>1.</strong>	Access <a href="https://azure.microsoft.com/en-us/" class="a">https://azure.microsoft.com/en-us/</a> and click on Try Azure for Free Button, refer the Exhibit below for details:</p>

                      <div class="text-center py-4"><img src="assets/mod3/3mod_01.jpg" (click)="openImage('assets/mod3/3mod_01.jpg')" class="img-fluid pointer"></div>

                      <p><strong>2.</strong>	Click on Start Free as indicated in the Exhibit below:  </p>

                      <div class="text-center py-4"><img src="assets/mod3/3mod_02.jpg" (click)="openImage('assets/mod3/3mod_02.jpg')" class="img-fluid pointer"></div>

                      <p><strong>3.</strong> This will result in you navigating to the Sign-In Page. Enter existing Personal Email ID and click on Next as per the Exhibit  below:  </p>
                      <div class="text-center py-4"><img src="assets/mod3/3mod_03.jpg" (click)="openImage('assets/mod3/3mod_03.jpg')" class="img-fluid pointer"></div>

                      <p><strong>4.</strong>	Enter Password and click on Sign-In Button, refer the Exhibit below:</p>
                      <div class="text-center py-4"><img src="assets/mod3/3mod_04.jpg" (click)="openImage('assets/mod3/3mod_04.jpg')" class="img-fluid pointer"></div>

                      <p><strong>5.</strong>	“Create your Azure free account” Page will be displayed as shown in the Exhibit below to capture sign-up information. Fill up the details in your profile section and click on Next Button.</p>
                      <div class="text-center py-4"><img src="assets/mod3/3mod_05.png" (click)="openImage('assets/mod3/3mod_05.png')" class="img-fluid pointer"></div>

                      <p><strong>6.</strong>	Identify Verification by Text (or) Call section will be displayed. . Please select any option preferable. In the example reflected in the Exhibit  below, we have considered the Text option. Post verification, it will take you to the Identification by Card section as shown in the Exhibit. </p>
                      <div class="text-center py-4"><img src="assets/mod3/3mod_06.JPG" (click)="openImage('assets/mod3/3mod_06.JPG')" class="img-fluid pointer"></div>
                      <div class="text-center py-4"><img src="assets/mod3/3mod_06-2.JPG" (click)="openImage('assets/mod3/3mod_06-2.JPG')" class="img-fluid pointer"></div>


                      <p><strong>7.</strong>	After entering your card details, please click on next. Your card will not be charged and your sign up will be eligible for Free Tier Account, with Rs 13,300 Credit/$200. In the last section, you will navigate to the Agreement page. Click on the first check box, to agree to the Subscription Agreement and click on the sign-up button as shown in the Exhibit below. </p>
                      <div class="text-center py-4"><img src="assets/mod3/3mod_07.jpg" (click)="openImage('assets/mod3/3mod_07.jpg')" class="img-fluid pointer"></div>

                      <p><strong>8.</strong>	This completes the sign-up process, and you will navigate to the Azure Page as reflected in the Exhibit below. Click on Build in the portal button to get started with Azure Cloud as shown in the Exhibit.  </p>
                      <div class="text-center py-4"><img src="assets/mod3/3mod_8.png" (click)="openImage('assets/mod3/3mod_8.png')" class="img-fluid pointer"></div>

                      <p><strong>9.</strong>	Landing Page for Azure Cloud for reference <a href="https://portal.azure.com/#home:" class="a">https://portal.azure.com/#home:</a></p>
                      <div class="text-center py-4"><img src="assets/mod3/3mod_10.jpg" (click)="openImage('assets/mod3/3mod_10.jpg')" class="img-fluid pointer"></div>
                 </div>
             </div>
        </div>
        <!--mod1-->


        <!--mod2-->
        <div *ngIf="mod2">
          <div class="row">
              <div class="col-12 col-md-12 module-block">
                 <h3 class="text-blue pb-4"><strong>How to setup an Environment?</strong></h3>
                 <h4>Creating an organization: </h4>
                 <p><strong>1.</strong>	If you have already created organization on <a href="Https://dev.azure.com" class="a" target="_blank">Https://dev.azure.com</a>, Sign into your organization (https://dev.azure.com/yourorganization). Update your organization name in highlighted section without brackets & follow section Create PAT Token. </p>
                 <p>If you do not have organization created, follow below steps to create organization.</p>
                 

                 
                    <p><strong>2.</strong>	For first time login users, you should see the screen as shown in the Exhibit below. Click on Continue button.</p>
                   <div class="text-center py-4"><img src="assets/mod3/2/2.jpg" (click)="openImage('assets/mod3/2/2.jpg')" class="img-fluid"></div>

               

                   <p><strong>3.</strong>	Enter Organization name of your choice, we have created workshopmsaz21 as shown in the Exhibit below. Please note the Organization Name for future reference.
         </p>

                   <div class="text-center py-4"><img src="assets/mod3/2/3.jpg" (click)="openImage('assets/mod3/2/3.jpg')" class="img-fluid"></div>



                   <p><strong>4.</strong> Organization is now created and displayed on the left side of the page</p>
                    <div class="text-center py-4"><img src="assets/mod3/2/4.jpg" (click)="openImage('assets/mod3/2/4.jpg')" class="img-fluid"></div>

                    <h4 class="pb-4">Creating PAT Tokens</h4>

                   <p><strong>1.</strong>	Click User Settings Icon on right hand side top section and Select Personal Access Token</p>
                   <div class="text-center py-4"><img src="assets/mod3/2/6.png" (click)="openImage('assets/mod3/2/6.png')" class="img-fluid"></div>
                    <div class="px-5">
                      <h4>              Click New Token:                    </h4>
                      <div class="text-center py-4"><img src="assets/mod3/2/6-2.jpg" (click)="openImage('assets/mod3/2/6-2.jpg')" class="img-fluid"></div>
                    </div>

                   <p><strong>2.</strong>	Give Name, select Full Access and click on Create.</p>
                   <div class="">
         <div class="text-center py-4"><img src="assets/mod3/2/7.png" (click)="openImage('assets/mod3/2/7.png')" class="img-fluid"></div>
         <div class="text-center py-4"><img src="assets/mod3/2/7-2.png" (click)="openImage('assets/mod3/2/7-2.png')" class="img-fluid"></div>
                   
                    <p><strong>3</strong>	Now Copy your PAT Token and Save it in Notepad. </p>
         


                   <div class="text-center py-4 "><img src="assets/mod3/2/7-3.jpg" (click)="openImage('assets/mod3/2/7-3.jpg')" class="img-fluid"></div>
                  </div>
                   <h4>Enable Test Plan:</h4>
                   
                   <p><strong>1.</strong>	On https://dev.azure.com/<span class="brackets">yourorganization</span> page, Navigate to Organization Settings </p>
                   <div class="text-center py-4"><img src="assets/mod3/2/Organization-Settings_Step1.JPG" (click)="openImage('assets/mod3/2/Organization-Settings_Step1.JPG')" class="img-fluid pointer"></div>

                  <p><strong>2.</strong>	Organization Setting Page will be displayed, now select Billing & select Start Free Trial</p>  
                 <div class="text-center py-4"><img src="assets/mod3/2/step2-2.JPG" (click)="openImage('assets/mod3/2/step2-2.JPG')" class="img-fluid pointer"></div>
                
                 <p><strong>3.</strong>	Select <strong>Start free trial</strong> on the pop-up</p>
                 <div class="text-center py-4"><img src="assets/mod3/2/Start-free-trial-step3.JPG" (click)="openImage('assets/mod3/2/Start-free-trial-step3.JPG')" class="img-fluid pointer"></div>
                 <div class="text-center pb-4"><img src="assets/mod3/2/2-3-1.png" (click)="openImage('assets/mod3/2/2-3-1.png')" class="img-fluid pointer"></div>

                 <p><strong>4.</strong>	Go to Users section and change access level to Basic + Test Plan</p>
                 <div class="text-center py-4"><img src="assets/mod3/2/CreateTestPlan4.JPG" (click)="openImage('assets/mod3/2/CreateTestPlan4.JPG')" class="img-fluid pointer"></div>

                 <p><strong>5.</strong>	Select Basic + Test Plans from dropdown</p>
                 <div class="text-center py-4"><img src="assets/mod3/2/step5.JPG" (click)="openImage('assets/mod3/2/step5.JPG')" class="img-fluid pointer"></div>

                 <p><strong>6.</strong>	Validate the change is applied:</p>
                 <div class="text-center py-4"><img src="assets/mod3/2/Step6.JPG" (click)="openImage('assets/mod3/2/Step6.JPG')" class="img-fluid pointer"></div>


              </div>
          </div>
     </div>
     <!--mod2-->

    </div>
    </div>
</main>